.ToDoList{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 10rem;
}
h1{
  font-size: 4rem;
}
button{
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}
.add-btn{
  background-color: green;
}
.add-btn:hover{
  background-color: rgb(25, 83, 25);
}

.delete-btn{
  background-color: rgb(237, 12, 12);
}
.delete-btn:hover{
  background-color: rgb(128, 0, 0);
}

.move-btn{
  background-color: rgb(26, 17, 187);
}
.move-btn:hover{
  background-color: rgb(19, 49, 96);
}

input{
  font-size: 1rem;
  padding: 8px;
  border: 2px solid lightblue;
  border-radius: 5px;
  color: black;
}

ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: lavender;
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text{
  flex: 1;
}
.delete-btn,.move-btn{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}